<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
<h2>Error</h2>
<ul>
    <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
</ul>
<a href="/">Go back</a>
</body>
</html>
